<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启注解扫描-->
    <context:component-scan base-package="com.itcast.controller"/>
    <context:component-scan base-package="com.itcast.logAdvice"/>
    <!--配置静态资源走服务器默认servlet-->
    <mvc:default-servlet-handler/>
    <!--配置mvc注解支持-->
    <mvc:annotation-driven conversion-service="conversionServiceFactoryBean"/>
    <!--配置视图解析器-->
    <bean id="resourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--配置自定义类型转换器-->
    <bean id="conversionServiceFactoryBean" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" >
            <set>
                <bean class="com.itcast.utils.StringToDate"/>
            </set>
        </property>
    </bean>
    <!--开启AOP注解支持-->
    <aop:aspectj-autoproxy/>
    <!--开启方法级别的安全认证注解支持-->
    <!--jsr250-->
    <!--<security:global-method-security jsr250-annotations="enabled"/>-->
    <!--@secured-->
    <!--<security:global-method-security secured-annotations="enabled" />-->
    <!--基于springEL表达式（重要）-->
    <security:global-method-security pre-post-annotations="enabled" />
</beans>